.Content {
  width: 75%;
  background-color: #FADD4B;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 90px;
}

.Content__intro {
}

.Content__greetings {
  font-size: 106px;
  margin: 0;
}

.Content__text {
  font-size: 36px;
  margin-bottom: 20px;
}

.Content__subtext {
  font-size: 18px;
  font-style: italic;
  margin: 0;
}