.Nav {
  width: 5%;
  background-color: black;
}

.Modal {
  position: absolute;
  top: 150px;
  left: 450px;
  right: 380px;
  bottom: 270px;
  background-color: #222222;
  border-radius: 10px;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  background: rgba(0, 0, 0, 0.75);
}

.modal_title {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 42px;
  color: white;
}

.form-control {
  max-width: 520px;
  resize: both;
  overflow: auto;
  margin-left: 42px;
  margin-right: 24px;
  background-color: yellow;
}

.modal_button {
  color: #F8DC4B !important;
  margin-left: 42px;
  margin-top: 24px;
  margin-bottom: 24px;
}